body {

}

.nflAFC{
	background-color: #B21212;
	font-family: Arial;
	color: white;
	font-weight: bold;
}

.nflNFC{
	background-color: #000099;
	font-family: Arial;
	color: white;
	font-weight: bold;
}

.infoRow{
	font-family: Arial;
	color: navy blue;
	font-weight: bold;
	text-align: left;
	background: #DBDBFF;
}

table td{
	font-family: Arial;
}

.border-bottom {
	border-bottom: solid 1px black;
}

table a{
	text-decoration: none;
}

.pct {
	background: #DBDBFF;
}

tr {
	text-align: left;
}

#teamName{
	text-align: left;
}
